In [ ]:
# Spark is the entry point

from pyspark.sql import SparkSession

In [ ]:
# Spark is used for large data - for simple data pandas is enough

# Create Spark session
spark = SparkSession.builder.appName('PysparkBasics').getOrCreate()

# Confirm spark is running
spark

In [ ]:
# Sample data
data=[("Amit",25), ("Sneha",30), ("Kabir",28)]
columns = ["Name", "Age"]

# Create DataFrame
df = spark.createDataFrame(data, columns)

# Show data
df.show()

+-----+---+
| Name|Age|
+-----+---+
| Amit| 25|
|Sneha| 30|
|Kabir| 28|
+-----+---+

In [ ]:
csv_data = """EmpID,Name,Department
101,Amit,Sales
102,Anita,Engineering
103,Kabir,HR
104,Sneha,Marketing
105,Ravi,Engineering
"""

with open('employees.csv','w')as f:
  f.write(csv_data)

In [ ]:
# inferSchema is a parameter used when reading data (like CSV, JSON, etc.) in PySpark.
df=spark.read.csv('employees.csv',header=True,inferSchema=True)
df.show()
df.printSchema()

+-----+-----+-----------+
|EmpID| Name| Department|
+-----+-----+-----------+
|  101| Amit|      Sales|
|  102|Anita|Engineering|
|  103|Kabir|         HR|
|  104|Sneha|  Marketing|
|  105| Ravi|Engineering|
+-----+-----+-----------+

root
 |-- EmpID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Department: string (nullable = true)