# Python Data Structures – Intermediate Exercises Notebook

## Section 1: Nested Lists & Access

Tasks:
1. Print Ravi’s second mark.
2. Calculate average mark for each student.
3. Print the name of students who scored above 80 in all subjects.
4. Create a new list of [name, average] .

In [19]:
students = [
    ["Ravi", [85, 72, 90]],
    ["Sneha", [95, 88, 92]],
    ["Kabir", [65, 70, 60]],
    ["Anita", [75, 80, 78]]
]

# 1. Ravi's second mark
print("Ravi's second mark: ", students[0][1][1])

Ravi's second mark:  72

In [20]:
# 2. Calculate average mark for each student.
for student in students:
    name = student[0]
    marks = student[1]
    average = sum(marks) / len(marks)
    print(f"{name}'s average mark: {average: .2f}")

Ravi's average mark:  82.33
Sneha's average mark:  91.67
Kabir's average mark:  65.00
Anita's average mark:  77.67

In [13]:
# 3. Print the name of students who scored above 80 in all subjects.
for student in students:
    name = student[0]
    marks = student[1]
    if all(mark > 80 for mark in marks):
        print(f"{name} scored above 80 in all subjects")

Sneha scored above 80 in all subjects

In [18]:
# 4. Create a new list of [name, average] .
student_averages = []
for student in students:
    name = student[0]
    marks = student[1]
    average = sum(marks) / len(marks)
    student_averages.append([name, average])
print("List of [name, average]:\n", student_averages)

List of [name, average]:
 [['Ravi', 82.33333333333333], ['Sneha', 91.66666666666667], ['Kabir', 65.0], ['Anita', 77.66666666666667]]

## Section 2: Dictionary of Lists

Tasks:
1. Create a list of dictionaries for each product:

    Example:{'name': 'Mobile', 'price': 12000, 'rating': 4.5}

2. Filter and print products with price > 20,000 and rating >= 4.5
3. Sort the product list by rating (descending)

In [22]:
data = {
    "products": ["Mobile", "Laptop", "Tablet", "Camera"],
    "prices": [12000, 55000, 18000, 25000],
    "ratings": [4.5, 4.7, 4.0, 4.2]
}

# 1. Create a list of dictionaries for each product:
products = []
for i in range(len(data["products"])):
    product = {
        "name": data["products"][i],
        "price": data["prices"][i],
        "rating": data["ratings"][i]
    }
    products.append(product)
print("Products Dictionaries: \n",products)

Products Dictionaries:
 [{'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}]

In [23]:
# 2. Filter and print products with price > 20,000 and rating >= 4.5
filtered_products = []
for product in products:
    if product["price"] > 20000 and product["rating"] >= 4.5:
        filtered_products.append(product)
print("Filtered Products: \n",filtered_products)

Filtered Products:
 [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}]

In [24]:
# 3. Sort the product list by rating (descending)
sorted_by_rating = sorted(products, key=lambda x: x["rating"], reverse=True)
print("Sorted Products: \n",sorted_by_rating)

Sorted Products:
 [{'name': 'Laptop', 'price': 55000, 'rating': 4.7}, {'name': 'Mobile', 'price': 12000, 'rating': 4.5}, {'name': 'Camera', 'price': 25000, 'rating': 4.2}, {'name': 'Tablet', 'price': 18000, 'rating': 4.0}]

## Section 3: Frequency Dictionary + Set Operations

Tasks:
1. Count frequency of each word using a dictionary
2. Print only the words that appear more than once
3. Convert words into a set and print sorted unique words
4. Find common words between:

  set1 = set(text.split())

  set2 = {"ai", "ml", "data", "future"}

In [26]:
text = "ai is the future and ai will change everything in the ai world"

# 1. Count frequency of each word using a dictionary
word_freq = {}
for word in text.split():
    if word in word_freq:
        word_freq[word] += 1
    else:
        word_freq[word] = 1
print("Frequency: \n",word_freq)

Frequency:
 {'ai': 3, 'is': 1, 'the': 2, 'future': 1, 'and': 1, 'will': 1, 'change': 1, 'everything': 1, 'in': 1, 'world': 1}

In [27]:
# 2. Print only the words that appear more than once
print("Words that appear more than once: \n")
for word, freq in word_freq.items():
    if freq > 1:
        print(word)

Words that appear more than once:

ai
the

In [28]:
# 3. Convert words into a set and print sorted unique words
unique_words = set(text.split())
print("Sorted Unique Words: \n",sorted(unique_words))

Sorted Unique Words:
 ['ai', 'and', 'change', 'everything', 'future', 'in', 'is', 'the', 'will', 'world']

In [29]:
# 4. Find common words between:
# set1 = set(text.split())
# set2 = {"ai", "ml", "data", "future"}
set1 = set(text.split())
set2 = {"ai", "ml", "data", "future"}
print("Common Words: \n",set1.intersection(set2))

Common Words:
 {'ai', 'future'}

## Section 4: Dictionary Comprehension + Conditional Logic

Tasks:
1. Create a new dictionary with 10% bonus added to each sale
2. Filter and return only those with sales > 50,000
3. Label each person as 'High' , 'Medium' , or 'Low' based on:

    75,000: High

    40,000: Medium

    Else: Low

In [34]:
sales = {
'Amit': 70000,
'Sneha': 45000,
'Ravi': 30000,
'Anita': 90000,
'Kabir': 20000
}

# 1. Create a new dictionary with 10% bonus added to each sale
bonus_sales = {name: int(sale * 1.10) for name, sale in sales.items()}
print("With 10% bonus:\n", bonus_sales)

With 10% bonus:
 {'Amit': 77000, 'Sneha': 49500, 'Ravi': 33000, 'Anita': 99000, 'Kabir': 22000}

In [36]:
# 2. Filter and return only those with sales > 50,000
high_sales = {name: sale for name, sale in sales.items() if sale > 50000}
print("Sales > 50,000:\n", high_sales)

Sales > 50,000:
 {'Amit': 70000, 'Anita': 90000}

In [37]:
# 3. Label each person as 'High' , 'Medium' , or 'Low' based on:
# 75,000: High
# 40,000: Medium
# Else: Low
labeled_sales = {name: ("High" if sale > 75000 else ("Medium" if sale > 40000 else "Low")) for name, sale in sales.items()}
print("Labeled Sales:\n", labeled_sales)

Labeled Sales:
 {'Amit': 'Medium', 'Sneha': 'Medium', 'Ravi': 'Low', 'Anita': 'High', 'Kabir': 'Low'}

## Section 5: Tuples, Sets, and Zipping

Tasks:
1. Convert both tuples to a dictionary using zip()
2. Find min and max marks
3. Create a set from marks and add a new value
4. Merge two sets and show only unique elements

In [38]:
names = ("Ravi", "Sneha", "Kabir")
marks = (88, 92, 76)

# 1. Convert both tuples to a dictionary using zip()
student_marks = dict(zip(names, marks))
print("Student Marks:\n", student_marks)

Student Marks:
 {'Ravi': 88, 'Sneha': 92, 'Kabir': 76}

In [39]:
# 2. Find min and max marks
min_mark = min(student_marks.values())
max_mark = max(student_marks.values())
print("Min Mark: ", min_mark)
print("Max Mark: ", max_mark)

Min Mark:  76
Max Mark:  92

In [40]:
# 3. Create a set from marks and add a new value
mark_set = set(marks)
mark_set.add(85)
print("Marks set after adding:\n", mark_set)

Marks set after adding:
 {88, 92, 85, 76}

In [42]:
# 4. Merge two sets and show only unique elements
new_marks = {90, 76, 95}
merged_set = mark_set.union(new_marks)
print("Merged unique marks:\n", merged_set)

Merged unique marks:
 {85, 88, 90, 92, 95, 76}

## Bonus Challenge

Tasks:
1. Add a new employee "E104"
2. Increase salary by 10% for Engineering department only
3. Find the department with the highest average salary

In [43]:
employees = {
"E101": {"name": "Ravi", "dept": "Sales", "salary": 50000},
"E102": {"name": "Sneha", "dept": "Engineering", "salary": 80000},
"E103": {"name": "Kabir", "dept": "HR", "salary": 45000}
}

# 1. Add a new employee "E104"
employees["E104"] = {"name": "Anita", "dept": "Engineering", "salary": 75000}
print("Employees after adding E104:\n", employees)

Employees after adding E104:
 {'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 80000}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 75000}}

In [44]:
# 2. Increase salary by 10% for Engineering department only
for emp_id, emp_details in employees.items():
    if emp_details["dept"] == "Engineering":
        emp_details["salary"] *= 1.10
print("Employees after increasing salary:\n", employees)

Employees after increasing salary:
 {'E101': {'name': 'Ravi', 'dept': 'Sales', 'salary': 50000}, 'E102': {'name': 'Sneha', 'dept': 'Engineering', 'salary': 88000.0}, 'E103': {'name': 'Kabir', 'dept': 'HR', 'salary': 45000}, 'E104': {'name': 'Anita', 'dept': 'Engineering', 'salary': 82500.0}}

In [45]:
# 3. Find the department with the highest average salary
from collections import defaultdict

dept_salaries = defaultdict(list)
for emp in employees.values():
    dept_salaries[emp["dept"]].append(emp["salary"])

avg_salaries = {dept: sum(sals)/len(sals) for dept, sals in dept_salaries.items()}
highest_avg_dept = max(avg_salaries, key=avg_salaries.get)
print("Highest average salary department:\n", highest_avg_dept)

Highest average salary department:
 Engineering